body{
    height: 100%;
    background-color: #f09070;
    text-align:center;
    color: #454241;
    font-family: Verdana, Arial, Helvetica,sans-serif;
}
p{
    font-size: 18px;
}
textarea{
    min-width: 30%;
    min-height: 10%;
    overflow: hidden;
    box-shadow: 2px 2px 8px ;
    border-radius: 6px;
    border:0;
    padding: 10px;
    font-size: 14px;
}

#change:before{
    float: left;
    padding: 0 .2em;
    content:"\25B6";
}
button{
    margin-top: 5px;
    background-color: #f08536;
    border-radius: 0.2em;
    border: 1px solid #ffa461;
    padding:5px; 
}
button:hover{
    background-color: #ee995a;
}
button:active{
    background-color: #f47415;
}
p#text{
    word-break: break-all;
}
p.expl{
    border-radius: 0.2em;
    border:0;
    background-color: #f08536;
    box-shadow: 2px 2px 8px ;
    padding:10px;
    margin-left: 20%;
    max-width: 60%;
    text-align: justify;
}

div.disp{
    display: inline-block;
    border-radius: 0.2em;
    border: 1px solid;
    background-color: #ee995a;
    box-shadow: 2px 2px 4px ;
    padding: 0 10px 10px 10px;
    max-width: 60%;
}
div#start{
    display:block;
}
div.menu{
    border-radius: 0.2em;
    background-color: #ee995a;
    box-shadow: 2px 2px 4px ;
    padding: 10px 10px 10px 10px;
    max-width:-moz-fit-content;
    float:left;
}
div.content{
   max-width: 60%;
   margin-left:20%;
}
div#param{

}
a{
    margin:2px;
    margin-top: 3px;
    margin-bottom: 3px;
    border:1px solid #ee995a;
    text-decoration: none;
    display:block;
    color: #454241;
}
a:hover{
    border-radius: 0.2em;
    border: 1px solid;
    background-color: #f5b78a;
}
a:active{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.2em;
    box-shadow: 2px 2px 2px ;
    background-color: #f08536;
}
a#here{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.2em;
    box-shadow: 1px 1px 1px ;
    background-color: #f08536;
}
/*#text{
    display:table;
    margin-right: auto;
    margin-left: auto; 
    background-color: white;
    max-width: 25%;
}*/